.card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  color: black;
  width: 47%;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  background-color: white;
  margin-bottom: 39px;
}
.card:hover {
  border-radius: 7px;
  background: rgb(75, 75, 75);
  color: #fff;
  box-shadow: none;
}
.card-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}
.card-content {
  padding: 5px 20px 5px;
}
.card-title {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin: 0px;
}
.card-text {
  font-size: 17px;
  line-height: 1.5;
}
