.card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  color: black;
  width: 47%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(229, 229, 229);
  background-color: white;
  margin-bottom: 39px;
}
@media screen and (max-width: 490px) {
  .card-wrapper {
    justify-content: center;
  }
  .card {
    width: 95%;
  }
}
.card:hover {
  border-radius: 7px;
  background: rgb(75, 75, 75);
  color: #fff;
  box-shadow: none;
}
.card:hover .card-img {
  border-color: rgb(75, 75, 75);
}
.card-img {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid rgb(183, 183, 183);
  width: 100%;
}
.card-content {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  height: 100px;
}
.card-title {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin: 0px;
}
.card-text {
  font-size: 17px;
  line-height: 1.5;
}
